name: tap-ssc
title: @socketsupply/tap-ssc
description: Test in a browser environment with ssc

# Build Settings
input: src
build: node ./build.mjs
output: dist
executable: ssc-tap

# Compiler Settings
flags: -O3 -g
debug_flags: -g

lang: en-us
copyright: Socket Supply Co. © 2021-2022
maintainer: Socket Supply Co.

# Package Metadata
version: v0.0.0
version_short: 0.0.0
revision: 0
